@use "_colors.scss" as colors;

$input-border-radius: 12px;
$button-border-radius: 28px;

.picker {
    height: 100% !important;
    width: 100% !important;
    top: 0 !important;
}

body {
    overflow: hidden;
    margin: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -0.02em;
    color: colors.$color-grey;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    color: colors.$color-black-bluish;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

.gap {
    height: 5px;
    content: ' ';
}

input {
    background-color: white;
    border: 1px solid colors.$color-grey-border;
    border-radius: $input-border-radius;

    &::placeholder {
        color: colors.$color-grey-default;
    }

    &.valid {
        border-color: colors.$color-primary;
    }

    &.invalid {
        border-color: colors.$color-danger;
        color: colors.$color-danger;
    }
}